<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Machine Learning Visuals</title>
</head>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/">Active</a>
  </li>
</ul>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Graphing the Popularity</h1>
    <!-- <p class="lead">Some visuals to show the information Spotify uses.</p> -->
  </div>
</div>

<!-- Start of container -->



<div class="container">
  <article class="description-content row">
    <div class="col-xs-12">
      <h1 class="description-header">Graphs</h1>
      <hr class="description-hr" />

      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="comparison-header">KNN Explicit Plot</h2>
            <img src="../static/Images/KNN - Explicit.png" alt="KNN - Explicit" class="comparison-image img-responsive">
          </div>
          <div class="col">
            <h2 class="comparison-header">KNN Mode Plot</h2>
            <img src="../static/Images/KNN - Mode.png" alt="KNN - Mode" class="comparison-image img-responsive">
          </div>
        </div>


        <div class="col-md-6">
          <h2 class="comparison-header">Residual Plot Liveness</h2>
          <img src="../static/Images/Residual Plot - Liveness.png" alt="Residual Plot - Liveness"
            class="comparison-image img-responsive">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Residual Plot Popularity</h2>
          <img src="../static/Images/Residual Plot - Popularity.png" alt="Residual Plot - Popularity"
            class="comparison-image img-responsive">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Residual Plot Year</h2>
          <img src="../static/Images/Residual Plot - Year.png" alt="Residual Plot - Year"
            class="comparison-image img-responsive">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Year vs. Danceability Regression Plot</h2>
          <img src="../static/Images/Year vs. Danceability.png" alt="Regression Plot - Year vs. Danceability"
            class="comparison-image img-responsive">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Year vs. Energy Regression Plot</h2>
          <img src="../static/Images/Year vs. Energy.png" alt="Regression Plot - Year vs. Energy"
            class="comparison-image img-responsive">
        </div>
        <div class="col-md-6">
          <h2 class="comparison-header">Year vs. Popularity Regression Plot</h2>
          <img src="../static/Images/Year vs. Popularity.png" alt="Regression Plot - Year vs. Popularity"
            class="comparison-image img-responsive">
        </div>
  </article>
</div>
<!-- End of container  -->

<!-- Start of footer -->
<footer class="footer navbar-fixed-bottom">
  <div class="two-toned-footer-color"></div>
  <p class="text-muted text-muted-footer text-center">
  </p>
</footer>
<!-- End of footer -->

<!-- jQuery CDN -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>