<!DOCTYPE html>
<html lang="en-us">
<head>
    
</head>
<body>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/">Active</a>
    </li>
  </ul>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Albums from Your Favorite Artist</h1>
      <!-- <p class="lead">Some visuals to show the information Spotify uses.</p> -->
    </div>
  </div>
    <div class="popup">
    <div class="row">
        {% for album in artist_albums %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
          
            <p class="card-text">{{ album }}</p>
          
          </div>
        </div>
        {% endfor %}
      </div>

</body>

</html>